.flows.json.backup
[
    {
        "id": "6a5477bf5d413357",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6912fe93ddd83159",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bec2bde055a11ad8",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2ad92edb5a6cc2b1",
        "type": "mqtt-broker",
        "name": "Dashboard",
        "broker": "86.119.32.210",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4ac0494ffa37eb7f",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://192.168.199.1:5050",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "76a2a5784e57aa33",
        "type": "python-function",
        "z": "6a5477bf5d413357",
        "d": true,
        "name": "addUser",
        "func": "import requests\nimport json\n\nurl = \"https://localhost/V1.0/users\"\n\npayload = json.dumps({\n  \"user_id\": \"xyz234\",\n  \"surname\": \"muster\",\n  \"firstname\": \"max\",\n  \"street\": \"Dammweg 8\",\n  \"postcode\": \"1234\",\n  \"city\": \"Zürich\"\n})\nheaders = {\n  'Content-Type': 'application/json'\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload)\n\nprint(response.text)\nreturn (response.text)",
        "outputs": 1,
        "x": 820,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "23cb2314f0a0fb76",
        "type": "debug",
        "z": "6a5477bf5d413357",
        "name": "updates",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 380,
        "wires": []
    },
    {
        "id": "9b8f97c8191d2da7",
        "type": "http request",
        "z": "6a5477bf5d413357",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 380,
        "wires": [
            [
                "23cb2314f0a0fb76"
            ]
        ]
    },
    {
        "id": "413681abdfe25bdd",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users/John24",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "GET",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "x": 370,
        "y": 380,
        "wires": [
            [
                "9b8f97c8191d2da7"
            ]
        ]
    },
    {
        "id": "2cf3e82c32533de5",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "create Johnny",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "POST",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"user_id\":\"John24\",\"surname\":\"Jordi\",\"firstname\":\"Johnny\",\"street\":\"Platanenweg 7\",\"postcode\":\"4914\",\"city\":\"Roggwil\",\"access_permitted\":\"yes\",\"connection_id\":\"\",\"state\":\"out\"}",
        "payloadType": "json",
        "x": 360,
        "y": 60,
        "wires": [
            [
                "4598056d67bfc324"
            ]
        ]
    },
    {
        "id": "4598056d67bfc324",
        "type": "http request",
        "z": "6a5477bf5d413357",
        "name": "http request",
        "method": "use",
        "ret": "obj",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 240,
        "wires": [
            [
                "ee6c50822afd3ba9"
            ]
        ],
        "info": "set by . methode \r\nand .url \r\nand .payload"
    },
    {
        "id": "ee6c50822afd3ba9",
        "type": "debug",
        "z": "6a5477bf5d413357",
        "name": "editorFeedback",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 240,
        "wires": []
    },
    {
        "id": "334152706bf0c0db",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "update - state/permission can only be updated not created",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users/John24",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "PUT",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "{\"access_permitted\":\"yes\",\"connection_id\":\"8\",\"state\":\"in\"}",
        "payloadType": "json",
        "x": 490,
        "y": 100,
        "wires": [
            [
                "4598056d67bfc324"
            ]
        ]
    },
    {
        "id": "f525a37609598b6c",
        "type": "http request",
        "z": "6a5477bf5d413357",
        "name": "http request",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://127.0.0.1:5900/V1.0/users/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 500,
        "wires": [
            [
                "e917b8ae918955b8",
                "2bbdfb3fd11cb291",
                "ed725d8e7294b89f"
            ]
        ],
        "info": "set by . methode \r\nand .url \r\nand .payload"
    },
    {
        "id": "e917b8ae918955b8",
        "type": "debug",
        "z": "6a5477bf5d413357",
        "name": "all users",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 500,
        "wires": []
    },
    {
        "id": "cf3f925a81b53bad",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "test",
        "x": 430,
        "y": 500,
        "wires": [
            [
                "f525a37609598b6c"
            ]
        ]
    },
    {
        "id": "2bbdfb3fd11cb291",
        "type": "mqtt out",
        "z": "6a5477bf5d413357",
        "name": "",
        "topic": "fhnw/veri/pro2/zugangskontrolle",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2ad92edb5a6cc2b1",
        "x": 1010,
        "y": 540,
        "wires": []
    },
    {
        "id": "f6a9ad297fd31d04",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "create Nici",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "POST",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"user_id\":\"Nici97\",\"surname\":\"Perrin\",\"firstname\":\"Nicola\",\"street\":\"Hinterwaeldlerstrasse\",\"postcode\":\"7000\",\"city\":\"HingeremMoond\",\"access_permitted\":\"yes\",\"connection_id\":\"\",\"state\":\"out\"}",
        "payloadType": "json",
        "x": 350,
        "y": 20,
        "wires": [
            [
                "4598056d67bfc324"
            ]
        ]
    },
    {
        "id": "5d48bcb2f2e44685",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "update - allow access",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users/Nici97",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "PUT",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "{\"access_permitted\":\"yes\"}",
        "payloadType": "json",
        "x": 580,
        "y": 20,
        "wires": [
            [
                "4598056d67bfc324"
            ]
        ]
    },
    {
        "id": "d538d260b1401760",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "create Clint",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "POST",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"user_id\":\"FHNW18A99CH\",\"surname\":\"Clintwood\",\"firstname\":\"East\",\"street\":\"Dorfstrasse 23\",\"postcode\":\"5022\",\"city\":\"Bern\"}",
        "payloadType": "json",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "4598056d67bfc324"
            ]
        ]
    },
    {
        "id": "08365ff900fe510c",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "Clint - allow access",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users/FHNW18A99CH",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "PUT",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "{\"access_permitted\":\"yes\"}",
        "payloadType": "json",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "4598056d67bfc324"
            ]
        ]
    },
    {
        "id": "f9c300bce14b5179",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "create Sandy",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "POST",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"user_id\":\"FHNW23B27CH\",\"surname\":\"Sunshine\",\"firstname\":\"Sandy\",\"street\":\"Wintergasse 5\",\"postcode\":\"4233\",\"city\":\"Sion\"}",
        "payloadType": "json",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "4598056d67bfc324"
            ]
        ]
    },
    {
        "id": "add2a1e3b0e22929",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "Sandy - allow access",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users/FHNW23B27CH",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "PUT",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "{\"access_permitted\":\"yes\"}",
        "payloadType": "json",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "4598056d67bfc324"
            ]
        ]
    },
    {
        "id": "9448157ce1abbbf0",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "create Marta",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "POST",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"user_id\":\"FHNW68B14CH\",\"surname\":\"Vegas\",\"firstname\":\"Marta\",\"street\":\"Gartenweg 9\",\"postcode\":\"9244\",\"city\":\"Zürich\"}",
        "payloadType": "json",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "4598056d67bfc324"
            ]
        ]
    },
    {
        "id": "a2c17d844df81bda",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "Marta - allow access",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users/FHNW68B14CH",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "PUT",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "{\"access_permitted\":\"yes\"}",
        "payloadType": "json",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "4598056d67bfc324"
            ]
        ]
    },
    {
        "id": "c588790215dd7ce8",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "create Hans",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "POST",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"user_id\":\"FHNW07A37CH\",\"surname\":\"McClain\",\"firstname\":\"Hans\",\"street\":\"AM Berg 22\",\"postcode\":\"4002\",\"city\":\"Basel\"}",
        "payloadType": "json",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "4598056d67bfc324"
            ]
        ]
    },
    {
        "id": "da5acda5b352cfe9",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "Hans - allow access",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users/FHNW07A37CH",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "PUT",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "{\"access_permitted\":\"yes\"}",
        "payloadType": "json",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "4598056d67bfc324"
            ]
        ]
    },
    {
        "id": "ed725d8e7294b89f",
        "type": "file",
        "z": "6a5477bf5d413357",
        "name": "",
        "filename": "C:\\Users\\Public\\Documents\\out.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1040,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "b36aa30.3a7276",
        "type": "http request",
        "z": "6912fe93ddd83159",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 240,
        "wires": [
            [
                "1ef9987c.956c78"
            ]
        ]
    },
    {
        "id": "11167f67.5d5031",
        "type": "inject",
        "z": "6912fe93ddd83159",
        "name": "cars on craigslist",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "http://vancouver.craigslist.org/search/sss?format=rss&query=cars",
        "payloadType": "str",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "70154cd4.de1444"
            ]
        ]
    },
    {
        "id": "70154cd4.de1444",
        "type": "change",
        "z": "6912fe93ddd83159",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "b36aa30.3a7276"
            ]
        ]
    },
    {
        "id": "1ef9987c.956c78",
        "type": "debug",
        "z": "6912fe93ddd83159",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "a00a14e6e17ebe11",
        "type": "OpcUa-Client",
        "z": "bec2bde055a11ad8",
        "endpoint": "4ac0494ffa37eb7f",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "ns=2;i=17",
        "x": 260,
        "y": 220,
        "wires": [
            [
                "78c77b3e7c136108"
            ]
        ]
    },
    {
        "id": "cfc693798a19a770",
        "type": "inject",
        "z": "bec2bde055a11ad8",
        "name": "trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 70,
        "y": 220,
        "wires": [
            [
                "a00a14e6e17ebe11"
            ]
        ]
    },
    {
        "id": "78c77b3e7c136108",
        "type": "debug",
        "z": "bec2bde055a11ad8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 220,
        "wires": []
    }
]