flows.json
[
    {
        "id": "6a5477bf5d413357",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6912fe93ddd83159",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bec2bde055a11ad8",
        "type": "tab",
        "label": "Flow 3",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "2ad92edb5a6cc2b1",
        "type": "mqtt-broker",
        "name": "Dashboard",
        "broker": "86.119.32.210",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9a8fd5c92c96faa5",
        "type": "websocket-listener",
        "path": "/entryScanner",
        "wholemsg": "false"
    },
    {
        "id": "4ac0494ffa37eb7f",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://192.168.199.1:5050",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "66dabf03.46121",
        "type": "OpcUa-Endpoint",
        "z": "bec2bde055a11ad8",
        "endpoint": "opc.tcp://localhost:53530/OPCUA/SimulationServer",
        "login": false
    },
    {
        "id": "0bb6a6f18cfacea3",
        "type": "websocket-listener",
        "path": "/exitScanner",
        "wholemsg": "false"
    },
    {
        "id": "76a2a5784e57aa33",
        "type": "python-function",
        "z": "6a5477bf5d413357",
        "d": true,
        "name": "addUser",
        "func": "import requests\nimport json\n\nurl = \"https://localhost/V1.0/users\"\n\npayload = json.dumps({\n  \"user_id\": \"xyz234\",\n  \"surname\": \"muster\",\n  \"firstname\": \"max\",\n  \"street\": \"Dammweg 8\",\n  \"postcode\": \"1234\",\n  \"city\": \"Zürich\"\n})\nheaders = {\n  'Content-Type': 'application/json'\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload)\n\nprint(response.text)\nreturn (response.text)",
        "outputs": 1,
        "x": 820,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "23cb2314f0a0fb76",
        "type": "debug",
        "z": "6a5477bf5d413357",
        "name": "updates",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 380,
        "wires": []
    },
    {
        "id": "9b8f97c8191d2da7",
        "type": "http request",
        "z": "6a5477bf5d413357",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 380,
        "wires": [
            [
                "23cb2314f0a0fb76"
            ]
        ]
    },
    {
        "id": "413681abdfe25bdd",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users/John24",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "GET",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "x": 370,
        "y": 380,
        "wires": [
            [
                "9b8f97c8191d2da7"
            ]
        ]
    },
    {
        "id": "2cf3e82c32533de5",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "create Johnny",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "POST",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"user_id\":\"John24\",\"surname\":\"Jordi\",\"firstname\":\"Johnny\",\"street\":\"Platanenweg 7\",\"postcode\":\"4914\",\"city\":\"Roggwil\",\"access_permitted\":\"yes\",\"connection_id\":\"\",\"state\":\"out\"}",
        "payloadType": "json",
        "x": 360,
        "y": 60,
        "wires": [
            [
                "4598056d67bfc324"
            ]
        ]
    },
    {
        "id": "4598056d67bfc324",
        "type": "http request",
        "z": "6a5477bf5d413357",
        "name": "http request",
        "method": "use",
        "ret": "obj",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 240,
        "wires": [
            [
                "ee6c50822afd3ba9"
            ]
        ],
        "info": "set by . methode \r\nand .url \r\nand .payload"
    },
    {
        "id": "ee6c50822afd3ba9",
        "type": "debug",
        "z": "6a5477bf5d413357",
        "name": "editorFeedback",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 240,
        "wires": []
    },
    {
        "id": "334152706bf0c0db",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "update - state/permission can only be updated not created",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users/John24",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "PUT",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "{\"access_permitted\":\"yes\",\"connection_id\":\"8\",\"state\":\"in\"}",
        "payloadType": "json",
        "x": 490,
        "y": 100,
        "wires": [
            [
                "4598056d67bfc324"
            ]
        ]
    },
    {
        "id": "f525a37609598b6c",
        "type": "http request",
        "z": "6a5477bf5d413357",
        "name": "http request",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://127.0.0.1:5900/V1.0/users/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 500,
        "wires": [
            [
                "e917b8ae918955b8",
                "2bbdfb3fd11cb291",
                "ed725d8e7294b89f"
            ]
        ],
        "info": "set by . methode \r\nand .url \r\nand .payload"
    },
    {
        "id": "e917b8ae918955b8",
        "type": "debug",
        "z": "6a5477bf5d413357",
        "name": "all users",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 500,
        "wires": []
    },
    {
        "id": "cf3f925a81b53bad",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "test",
        "x": 430,
        "y": 500,
        "wires": [
            [
                "f525a37609598b6c"
            ]
        ]
    },
    {
        "id": "2bbdfb3fd11cb291",
        "type": "mqtt out",
        "z": "6a5477bf5d413357",
        "name": "",
        "topic": "fhnw/veri/pro2/zugangskontrolle",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2ad92edb5a6cc2b1",
        "x": 1010,
        "y": 540,
        "wires": []
    },
    {
        "id": "f6a9ad297fd31d04",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "create Nici",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "POST",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"user_id\":\"Nici97\",\"surname\":\"Perrin\",\"firstname\":\"Nicola\",\"street\":\"Hinterwaeldlerstrasse\",\"postcode\":\"7000\",\"city\":\"HingeremMoond\",\"access_permitted\":\"yes\",\"connection_id\":\"\",\"state\":\"out\"}",
        "payloadType": "json",
        "x": 350,
        "y": 20,
        "wires": [
            [
                "4598056d67bfc324"
            ]
        ]
    },
    {
        "id": "5d48bcb2f2e44685",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "update - allow access",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users/Nici97",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "PUT",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "{\"access_permitted\":\"yes\"}",
        "payloadType": "json",
        "x": 580,
        "y": 20,
        "wires": [
            [
                "4598056d67bfc324"
            ]
        ]
    },
    {
        "id": "d538d260b1401760",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "create Clint",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "POST",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"user_id\":\"FHNW18A99CH\",\"surname\":\"Clintwood\",\"firstname\":\"East\",\"street\":\"Dorfstrasse 23\",\"postcode\":\"5022\",\"city\":\"Bern\"}",
        "payloadType": "json",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "4598056d67bfc324"
            ]
        ]
    },
    {
        "id": "08365ff900fe510c",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "Clint - allow access",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users/FHNW18A99CH",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "PUT",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "{\"access_permitted\":\"no\"}",
        "payloadType": "json",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "4598056d67bfc324"
            ]
        ]
    },
    {
        "id": "f9c300bce14b5179",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "create Sandy",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "POST",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"user_id\":\"FHNW23B27CH\",\"surname\":\"Sunshine\",\"firstname\":\"Sandy\",\"street\":\"Wintergasse 5\",\"postcode\":\"4233\",\"city\":\"Sion\"}",
        "payloadType": "json",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "4598056d67bfc324"
            ]
        ]
    },
    {
        "id": "add2a1e3b0e22929",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "Sandy - allow access",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users/FHNW23B27CH",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "PUT",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "{\"access_permitted\":\"yes\"}",
        "payloadType": "json",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "4598056d67bfc324"
            ]
        ]
    },
    {
        "id": "9448157ce1abbbf0",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "create Marta",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "POST",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"user_id\":\"FHNW68B14CH\",\"surname\":\"Vegas\",\"firstname\":\"Marta\",\"street\":\"Gartenweg 9\",\"postcode\":\"9244\",\"city\":\"Zürich\"}",
        "payloadType": "json",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "4598056d67bfc324"
            ]
        ]
    },
    {
        "id": "a2c17d844df81bda",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "Marta - allow access",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users/FHNW68B14CH",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "PUT",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "{\"access_permitted\":\"yes\"}",
        "payloadType": "json",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "4598056d67bfc324"
            ]
        ]
    },
    {
        "id": "c588790215dd7ce8",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "create Hans",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "POST",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"user_id\":\"FHNW07A37CH\",\"surname\":\"McClain\",\"firstname\":\"Hans\",\"street\":\"AM Berg 22\",\"postcode\":\"4002\",\"city\":\"Basel\"}",
        "payloadType": "json",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "4598056d67bfc324"
            ]
        ]
    },
    {
        "id": "da5acda5b352cfe9",
        "type": "inject",
        "z": "6a5477bf5d413357",
        "name": "Hans - allow access",
        "props": [
            {
                "p": "url",
                "v": "http://127.0.0.1:5900/V1.0/users/FHNW07A37CH",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "PUT",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "{\"access_permitted\":\"yes\"}",
        "payloadType": "json",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "4598056d67bfc324"
            ]
        ]
    },
    {
        "id": "ed725d8e7294b89f",
        "type": "file",
        "z": "6a5477bf5d413357",
        "name": "",
        "filename": "C:\\Users\\Public\\Documents\\out.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1040,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "8662a1f3b8d381a2",
        "type": "websocket in",
        "z": "6a5477bf5d413357",
        "name": "entryScanner",
        "server": "9a8fd5c92c96faa5",
        "client": "",
        "x": 90,
        "y": 620,
        "wires": [
            [
                "5582805653f9b251",
                "1b94a2f77de9b485"
            ]
        ]
    },
    {
        "id": "3cf26241e2dc30fd",
        "type": "debug",
        "z": "6a5477bf5d413357",
        "name": "permited?",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 620,
        "wires": []
    },
    {
        "id": "cbde57569b670bfe",
        "type": "http request",
        "z": "6a5477bf5d413357",
        "name": "ask permission",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 480,
        "y": 660,
        "wires": [
            [
                "3cf26241e2dc30fd",
                "30c6dd32e8411a68"
            ]
        ],
        "info": "set by . methode \r\nand .url \r\nand .payload"
    },
    {
        "id": "5582805653f9b251",
        "type": "function",
        "z": "6a5477bf5d413357",
        "name": "make URL",
        "func": "var payload = JSON.parse(msg.payload);\nmsg.action = payload.action;\nmsg.url = \"http://127.0.0.1:5900/V1.0/users/\" + payload.scannedID;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 660,
        "wires": [
            [
                "cbde57569b670bfe"
            ]
        ]
    },
    {
        "id": "1b94a2f77de9b485",
        "type": "debug",
        "z": "6a5477bf5d413357",
        "name": "scannerIN",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 620,
        "wires": []
    },
    {
        "id": "da02d730fdd0d02b",
        "type": "function",
        "z": "6a5477bf5d413357",
        "name": "state in",
        "func": "\nmsg.payload = JSON.parse(`{\"state\": \"in\"}`)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 720,
        "wires": [
            [
                "12fc90d059ddcdf4"
            ]
        ]
    },
    {
        "id": "30c6dd32e8411a68",
        "type": "switch",
        "z": "6a5477bf5d413357",
        "name": "if allowed",
        "property": "payload.access_permitted",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "yes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 400,
        "y": 760,
        "wires": [
            [
                "992f4a06644f0ef6"
            ],
            [
                "e9db209e56e79831"
            ]
        ]
    },
    {
        "id": "12fc90d059ddcdf4",
        "type": "http request",
        "z": "6a5477bf5d413357",
        "name": "change state",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 910,
        "y": 720,
        "wires": [
            [
                "5a9003998929883e"
            ]
        ],
        "info": "set by . methode \r\nand .url \r\nand .payload"
    },
    {
        "id": "992f4a06644f0ef6",
        "type": "switch",
        "z": "6a5477bf5d413357",
        "name": "action == enter/exit",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "enter",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "exit",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 740,
        "wires": [
            [
                "da02d730fdd0d02b"
            ],
            [
                "1db235f9bf0e2470"
            ]
        ]
    },
    {
        "id": "1db235f9bf0e2470",
        "type": "function",
        "z": "6a5477bf5d413357",
        "name": "state out",
        "func": "\nmsg.payload = JSON.parse(`{\"state\": \"out\"}`)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 760,
        "wires": [
            [
                "2031cf913637eb5d"
            ]
        ]
    },
    {
        "id": "49c888015855c074",
        "type": "websocket in",
        "z": "6a5477bf5d413357",
        "name": "exitScanner",
        "server": "0bb6a6f18cfacea3",
        "client": "",
        "x": 90,
        "y": 700,
        "wires": [
            [
                "5582805653f9b251"
            ]
        ]
    },
    {
        "id": "211a31e1f30a3412",
        "type": "websocket out",
        "z": "6a5477bf5d413357",
        "name": "",
        "server": "0bb6a6f18cfacea3",
        "client": "",
        "x": 1270,
        "y": 760,
        "wires": []
    },
    {
        "id": "f408332bf6eaedbe",
        "type": "websocket out",
        "z": "6a5477bf5d413357",
        "name": "",
        "server": "9a8fd5c92c96faa5",
        "client": "",
        "x": 1270,
        "y": 720,
        "wires": []
    },
    {
        "id": "5a9003998929883e",
        "type": "function",
        "z": "6a5477bf5d413357",
        "name": "access allowed",
        "func": "msg.payload = JSON.parse(`{\"access\": \"allowed\"}`)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 720,
        "wires": [
            [
                "f408332bf6eaedbe"
            ]
        ]
    },
    {
        "id": "2031cf913637eb5d",
        "type": "http request",
        "z": "6a5477bf5d413357",
        "name": "change state",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 910,
        "y": 760,
        "wires": [
            [
                "13d0e492eae59dc0"
            ]
        ],
        "info": "set by . methode \r\nand .url \r\nand .payload"
    },
    {
        "id": "13d0e492eae59dc0",
        "type": "function",
        "z": "6a5477bf5d413357",
        "name": "access allowed",
        "func": "msg.payload = JSON.parse(`{\"access\": \"allowed\"}`)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 760,
        "wires": [
            [
                "211a31e1f30a3412"
            ]
        ]
    },
    {
        "id": "939cd9a828423d8e",
        "type": "switch",
        "z": "6a5477bf5d413357",
        "name": "action == enter/exit",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "enter",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "exit",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 820,
        "wires": [
            [
                "19112a86216323ca"
            ],
            [
                "3c26c5c0984a4403"
            ]
        ]
    },
    {
        "id": "e9db209e56e79831",
        "type": "function",
        "z": "6a5477bf5d413357",
        "name": "access denied",
        "func": "msg.payload = JSON.parse(`{\"access\": \"denied\"}`)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 800,
        "wires": [
            [
                "939cd9a828423d8e"
            ]
        ]
    },
    {
        "id": "19112a86216323ca",
        "type": "websocket out",
        "z": "6a5477bf5d413357",
        "name": "",
        "server": "9a8fd5c92c96faa5",
        "client": "",
        "x": 970,
        "y": 800,
        "wires": []
    },
    {
        "id": "3c26c5c0984a4403",
        "type": "websocket out",
        "z": "6a5477bf5d413357",
        "name": "",
        "server": "0bb6a6f18cfacea3",
        "client": "",
        "x": 970,
        "y": 840,
        "wires": []
    },
    {
        "id": "b36aa30.3a7276",
        "type": "http request",
        "z": "6912fe93ddd83159",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 240,
        "wires": [
            [
                "1ef9987c.956c78"
            ]
        ]
    },
    {
        "id": "11167f67.5d5031",
        "type": "inject",
        "z": "6912fe93ddd83159",
        "name": "cars on craigslist",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "http://vancouver.craigslist.org/search/sss?format=rss&query=cars",
        "payloadType": "str",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "70154cd4.de1444"
            ]
        ]
    },
    {
        "id": "70154cd4.de1444",
        "type": "change",
        "z": "6912fe93ddd83159",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "b36aa30.3a7276"
            ]
        ]
    },
    {
        "id": "1ef9987c.956c78",
        "type": "debug",
        "z": "6912fe93ddd83159",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "cfc693798a19a770",
        "type": "inject",
        "z": "bec2bde055a11ad8",
        "name": "trigger",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=17;s=Counter;datatype=Int32",
        "x": 70,
        "y": 220,
        "wires": [
            [
                "a00a14e6e17ebe11"
            ]
        ]
    },
    {
        "id": "78c77b3e7c136108",
        "type": "debug",
        "z": "bec2bde055a11ad8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 220,
        "wires": []
    },
    {
        "id": "e643c78e.1fe608",
        "type": "file",
        "z": "bec2bde055a11ad8",
        "name": "Address.txt",
        "filename": "./public/users/opc-ua/Address.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 830,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "2dd2dd3c.5d9b72",
        "type": "inject",
        "z": "bec2bde055a11ad8",
        "name": "Read",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "fd7bd63d.2f3178"
            ]
        ]
    },
    {
        "id": "8b2daf0a.2ac5b",
        "type": "debug",
        "z": "bec2bde055a11ad8",
        "name": "Read value Payload",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 860,
        "y": 580,
        "wires": []
    },
    {
        "id": "4ec38626.22afb8",
        "type": "inject",
        "z": "bec2bde055a11ad8",
        "name": "Subscribe ( Interval 1 sec.)",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "1000",
        "payloadType": "num",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "c4e6019e.66af7",
                "c2e67110.f1efa"
            ]
        ]
    },
    {
        "id": "de7b113d.00879",
        "type": "inject",
        "z": "bec2bde055a11ad8",
        "name": "Browse",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "ns=2;s=MyDevice",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "fb399d4f.61dc4",
                "19dfffe3.6c26c"
            ]
        ]
    },
    {
        "id": "7cb5d30d.2e00ec",
        "type": "file",
        "z": "bec2bde055a11ad8",
        "name": "Address.txt",
        "filename": "./public/users/opc-ua/Address.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 830,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "28d77e5.8101482",
        "type": "function",
        "z": "bec2bde055a11ad8",
        "name": "Items",
        "func": "msg.payload=msg.browseName+\"|\"+msg.topic;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 360,
        "wires": [
            [
                "7cb5d30d.2e00ec",
                "b10ffb29.47ab88"
            ]
        ]
    },
    {
        "id": "fb399d4f.61dc4",
        "type": "trigger",
        "z": "bec2bde055a11ad8",
        "name": "Clear file",
        "op1": "object|address",
        "op2": "0",
        "op1type": "val",
        "op2type": "",
        "duration": "0",
        "extend": "false",
        "units": "ms",
        "outputs": 1,
        "x": 460,
        "y": 300,
        "wires": [
            [
                "e643c78e.1fe608"
            ]
        ]
    },
    {
        "id": "ca827ee0.3633a",
        "type": "debug",
        "z": "bec2bde055a11ad8",
        "name": "Subscribed values",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 850,
        "y": 660,
        "wires": []
    },
    {
        "id": "b10ffb29.47ab88",
        "type": "debug",
        "z": "bec2bde055a11ad8",
        "name": "Address items",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 840,
        "y": 380,
        "wires": []
    },
    {
        "id": "77256a3c.71f1d4",
        "type": "comment",
        "z": "bec2bde055a11ad8",
        "name": "v9.1.0",
        "info": "Browse node allows user to select item:\n- runtime browse\n- select RootFolder -> SubFolder\n- select Item\n\nActions:\nread\nwrite\nbrowse\nsubscribe\n\nNodes:\nclient node for actions\nitem node for defining item\n",
        "x": 70,
        "y": 440,
        "wires": []
    },
    {
        "id": "2ec2bede.18aba2",
        "type": "inject",
        "z": "bec2bde055a11ad8",
        "name": "Browse Alarm",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "ns=2;s=MyLevel.Alarm",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "60103cf1.60b664"
            ]
        ]
    },
    {
        "id": "bd51e6e9.102cf8",
        "type": "template",
        "z": "bec2bde055a11ad8",
        "name": "OpcUa-Item",
        "field": "payload",
        "fieldType": "msg",
        "syntax": "mustache",
        "template": "[\n  {\n    \"id\": \"4b12ca9b.e7e184\",\n    \"type\": \"OpcUa-Item\",\n    \"item\": \"{{topic}}\",\n    \"datatype\": \"opcua.DataType.Double\",\n    \"value\": \"66.6\",\n    \"name\": \"{{browseName}}\",\n    \"x\": 251,\n    \"y\": 334,\n    \"z\": \"30ffd2ee.59fdd6\",\n    \"wires\": [\n      [\n        \"70dd1397.3c8e44\"\n      ]\n    ]\n  }\n]",
        "x": 530,
        "y": 420,
        "wires": [
            [
                "251746cc.116c3a",
                "d7e87799.e5bba8"
            ]
        ]
    },
    {
        "id": "251746cc.116c3a",
        "type": "function",
        "z": "bec2bde055a11ad8",
        "name": "Save to lib",
        "func": "msg.filename=\"./public/users/opc-ua/templates/\"+msg.browseName+\".js\";\nmsg.payload=\"// name: \"+msg.browseName+\"\\n\"+\"// field: payload\\n\"+msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 500,
        "wires": [
            [
                "d5eda8e6.d58238",
                "3826e0f3.91b6d"
            ]
        ]
    },
    {
        "id": "d5eda8e6.d58238",
        "type": "debug",
        "z": "bec2bde055a11ad8",
        "name": "Pre-configured library items",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 880,
        "y": 520,
        "wires": []
    },
    {
        "id": "3826e0f3.91b6d",
        "type": "file",
        "z": "bec2bde055a11ad8",
        "name": "OPC UA Items",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 840,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "d7e87799.e5bba8",
        "type": "debug",
        "z": "bec2bde055a11ad8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 830,
        "y": 420,
        "wires": []
    },
    {
        "id": "1caef89f.2ed4e7",
        "type": "inject",
        "z": "bec2bde055a11ad8",
        "name": "Read",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 580,
        "wires": [
            [
                "27c2bd79.578a32"
            ]
        ]
    },
    {
        "id": "7ceef407.eafb3c",
        "type": "debug",
        "z": "bec2bde055a11ad8",
        "name": "Browsed JSON",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 840,
        "y": 760,
        "wires": []
    },
    {
        "id": "926dc4c4.041508",
        "type": "function",
        "z": "bec2bde055a11ad8",
        "name": "Read Info",
        "func": "msg.payload=msg.browseName+\" - \"+msg.topic;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 800,
        "wires": [
            [
                "1af9b387.3278dc"
            ]
        ]
    },
    {
        "id": "1af9b387.3278dc",
        "type": "debug",
        "z": "bec2bde055a11ad8",
        "name": "browseName",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 830,
        "y": 800,
        "wires": []
    },
    {
        "id": "f6f54112.c9ed4",
        "type": "catch",
        "z": "bec2bde055a11ad8",
        "name": "",
        "scope": null,
        "x": 120,
        "y": 940,
        "wires": [
            [
                "3b51ffbd.c887f"
            ]
        ]
    },
    {
        "id": "3b51ffbd.c887f",
        "type": "debug",
        "z": "bec2bde055a11ad8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 370,
        "y": 940,
        "wires": []
    },
    {
        "id": "6868efd9.25a6c",
        "type": "inject",
        "z": "bec2bde055a11ad8",
        "name": "Read & Subscribe",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "500",
        "payloadType": "num",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "7b069e3f.171f5"
            ]
        ]
    },
    {
        "id": "983dcde4.57503",
        "type": "inject",
        "z": "bec2bde055a11ad8",
        "name": "Subscribe Events (250ms)",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "250",
        "payloadType": "num",
        "x": 150,
        "y": 860,
        "wires": [
            [
                "e7585aa3.d5d658"
            ]
        ]
    },
    {
        "id": "ff34939.6bc5c7",
        "type": "debug",
        "z": "bec2bde055a11ad8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 910,
        "y": 860,
        "wires": []
    },
    {
        "id": "dc6df03d.b2e26",
        "type": "function",
        "z": "bec2bde055a11ad8",
        "name": "Format",
        "func": "var newmsg={};\nnewmsg.topic=\"\";\nnewmsg.payload=\"\";\n\nif (msg.EventId) {\n    //newmsg.payload=\"EVENTID\";\n\t//newmsg.payload=msg.EventId.toString('utf8');;\n}\nif (msg.EventType) {\n    //newmsg.topic=newmsg.topic+\"EventType\";\n    //newmsg.payload=\"EVENTTYPE\";\n\t//newmsg.payload=newmsg.payload+\"|\"+msg.EventType;\n}\nif (msg.SourceNode) {\n    //newmsg.topic=newmsg.topic+\"SourceNode\";\n\t//newmsg.payload=msg.payload+\"|\"+msg.SourceNode;\n}\nif (msg.SourceName) {\n    // Do not show internal alarm state changes e.q. rising events\n    //if (msg.SourceName==\"Internal\") return; \n\tnewmsg.payload=newmsg.payload+\"|\"+msg.SourceName;\n}\nif (msg.Time) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Time\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Time;\n}\nif (msg.ReceiveTime) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ReceiveTime\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ReceiveTime;\n}\nif (msg.Message) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Message\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Message;\n}\nif (msg.Severity) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Severity\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Severity;\n}\n\n// ConditionType\nif (msg.ConditionClassId) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ConditionClassId\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ConditionClassId;\n}\nif (msg.ConditionClassName) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ConditionClassName\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ConditionClassNameName;\n}\nif (msg.ConditionName) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ConditionName\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ConditionName;\n}\nif (msg.BranchId) {\n    newmsg.topic=newmsg.topic+\"|\"+\"BranchId\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.BranchId;\n}\nif (msg.Retain) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Retain\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Retain;\n}\nif (msg.EnabledState) {\n    newmsg.topic=newmsg.topic+\"|\"+\"EnabledState\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.EnabledState;\n}\nif (msg.Quality) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Quality\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Quality;\n}\nif (msg.LastSeverity) {\n    newmsg.topic=newmsg.topic+\"|\"+\"LastSeverity\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.LastSeverity;\n}\nif (msg.Comment) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Comment\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Comment;\n}\nif (msg.ClientUserId) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ClientUserId\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ClientUserId;\n}\n\n// AcknowledgeConditionType\nif (msg.AckedState) {\n    newmsg.topic=newmsg.topic+\"|\"+\"AckedState\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.AckedState;\n}\nif (msg.ConfirmedState) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ConfirmedState\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ConfirmedState;\n}\n\n// AlarmConditionType\nif (msg.ActiveState) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ActiveState\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ActiveState;\n}\nif (msg.InputNode) {\n    newmsg.topic=newmsg.topic+\"|\"+\"InputNode\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.InputNode;\n}\nif (msg.SupressedState) {\n    newmsg.topic=newmsg.topic+\"|\"+\"SupressedState\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.SupressedState;\n}\n\n// Limits\nif (msg.HighHighLimit) {\n    newmsg.topic=newmsg.topic+\"|\"+\"HighHighLimit\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.HighHighLimit;\n}\nif (msg.HighLimit) {\n    newmsg.topic=newmsg.topic+\"|\"+\"HighLimit\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.HighLimit;\n}\nif (msg.LowLimit) {\n    newmsg.topic=newmsg.topic+\"|\"+\"LowLimit\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.LowLimit;\n}\nif (msg.LowLowLimit) {\n    newmsg.topic=newmsg.topic+\"|\"+\"LowLowLimit\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.LowLowLimit;\n}\nif (msg.Value) {\n        newmsg.topic=newmsg.topic+\"|\"+\"Value\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Value;\n}\n\nreturn newmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 920,
        "wires": [
            [
                "ff34939.6bc5c7"
            ]
        ]
    },
    {
        "id": "ef2f258a.509a58",
        "type": "debug",
        "z": "bec2bde055a11ad8",
        "name": "Complete Message",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 850,
        "y": 620,
        "wires": []
    },
    {
        "id": "fd7bd63d.2f3178",
        "type": "OpcUa-Item",
        "z": "bec2bde055a11ad8",
        "item": "ns=5;s=Random1",
        "datatype": "Integer",
        "value": "",
        "name": "Random1",
        "x": 360,
        "y": 540,
        "wires": [
            [
                "a6eb9ec.c21db6"
            ]
        ]
    },
    {
        "id": "7b069e3f.171f5",
        "type": "OpcUa-Item",
        "z": "bec2bde055a11ad8",
        "item": "ns=4;s=DateTime",
        "datatype": "String",
        "value": "",
        "name": "DateTime",
        "x": 360,
        "y": 620,
        "wires": [
            [
                "a6eb9ec.c21db6",
                "b289b3e3.c303"
            ]
        ]
    },
    {
        "id": "c4e6019e.66af7",
        "type": "OpcUa-Item",
        "z": "bec2bde055a11ad8",
        "item": "i=2258",
        "datatype": "String",
        "value": "",
        "name": "Server CurrentTime",
        "x": 390,
        "y": 660,
        "wires": [
            [
                "b289b3e3.c303"
            ]
        ]
    },
    {
        "id": "27c2bd79.578a32",
        "type": "OpcUa-Item",
        "z": "bec2bde055a11ad8",
        "item": "ns=5;s=Counter1",
        "datatype": "Double",
        "value": "",
        "name": "Counter1",
        "x": 360,
        "y": 580,
        "wires": [
            [
                "a6eb9ec.c21db6"
            ]
        ]
    },
    {
        "id": "c2e67110.f1efa",
        "type": "OpcUa-Item",
        "z": "bec2bde055a11ad8",
        "item": "ns=2;s=MyLevel",
        "datatype": "Double",
        "value": "",
        "name": "MyDevice - MyLevel",
        "x": 400,
        "y": 700,
        "wires": [
            [
                "b289b3e3.c303"
            ]
        ]
    },
    {
        "id": "a00a14e6e17ebe11",
        "type": "OpcUa-Client",
        "z": "bec2bde055a11ad8",
        "endpoint": "4ac0494ffa37eb7f",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "ns=2;i=17",
        "x": 260,
        "y": 220,
        "wires": [
            [
                "78c77b3e7c136108"
            ]
        ]
    },
    {
        "id": "a6eb9ec.c21db6",
        "type": "OpcUa-Client",
        "z": "bec2bde055a11ad8",
        "endpoint": "66dabf03.46121",
        "action": "read",
        "time": "",
        "name": "Test server (read items)",
        "x": 590,
        "y": 580,
        "wires": [
            [
                "8b2daf0a.2ac5b",
                "ef2f258a.509a58"
            ]
        ]
    },
    {
        "id": "19dfffe3.6c26c",
        "type": "OpcUa-Client",
        "z": "bec2bde055a11ad8",
        "endpoint": "66dabf03.46121",
        "action": "browse",
        "time": "",
        "name": "Test server (browse)",
        "x": 300,
        "y": 400,
        "wires": [
            [
                "28d77e5.8101482",
                "bd51e6e9.102cf8"
            ]
        ]
    },
    {
        "id": "60103cf1.60b664",
        "type": "OpcUa-Client",
        "z": "bec2bde055a11ad8",
        "endpoint": "66dabf03.46121",
        "action": "browse",
        "time": "10000",
        "name": "",
        "x": 380,
        "y": 760,
        "wires": [
            [
                "7ceef407.eafb3c",
                "926dc4c4.041508"
            ]
        ]
    },
    {
        "id": "b289b3e3.c303",
        "type": "OpcUa-Client",
        "z": "bec2bde055a11ad8",
        "endpoint": "66dabf03.46121",
        "action": "subscribe",
        "time": "4",
        "timeUnit": "s",
        "name": "",
        "x": 620,
        "y": 660,
        "wires": [
            [
                "ca827ee0.3633a",
                "ef2f258a.509a58"
            ]
        ]
    },
    {
        "id": "6b885842.c7dfb8",
        "type": "OpcUa-Client",
        "z": "bec2bde055a11ad8",
        "endpoint": "66dabf03.46121",
        "action": "events",
        "time": "10",
        "timeUnit": "s",
        "name": "Alarms & Events",
        "x": 620,
        "y": 860,
        "wires": [
            [
                "ff34939.6bc5c7",
                "dc6df03d.b2e26"
            ]
        ]
    },
    {
        "id": "e7585aa3.d5d658",
        "type": "OpcUa-Event",
        "z": "bec2bde055a11ad8",
        "root": "ns=2;s=MyLevel.Alarm",
        "eventtype": "i=2041",
        "name": "All events from server",
        "x": 400,
        "y": 860,
        "wires": [
            [
                "6b885842.c7dfb8"
            ]
        ]
    }
]